<%= render 'layouts/map_header' %>
<div class="row">
  <% @maps.reverse.each do | map | %>
    <%= render partial: 'shared/map_item', locals: { map: map } %>
  <% end %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @maps %>
</div>