<%= render 'layouts/video_header' %>
 <div class="row">
  <% @reviewtubes.reverse.each do | reviewtube | %>
    <%= render partial: 'shared/reviewtube_item', locals: { reviewtube: reviewtube } %>
  <% end %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @reviewtubes %>
</div>