<%= render 'layouts/video_header' %>
 <div class="row">
  <% @videos.reverse.each do | video_player | %>
    <%= render partial: 'shared/video_player_item', locals: { video_player: video_player } %>
  <% end %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @videos %>
</div>