 <%= render 'layouts/websites_header' %>
 
 <div id="websites" class="row">
  <%= render partial: 'shared/website_media_items' %>
</div>

<div id="infinite-scrolling">
  <%= will_paginate @websites %>
</div>
