// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    font-family: "Lato", sans-serif;
}

#header {
    background-color: #3d496a;
    background-image: none;
    border-bottom: 1px solid #44484b;
    border-top: 3px solid #09afdf;
    box-shadow: none;
    text-shadow: none;
    display: table;
    height: 40px;
    width: 100%;
    overflow: visible;
    position: inherit;
    padding: 5px 0;
    z-index: 900;
    
     h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #fff;
    }
    
    ul.tabs > li a {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #ccd3e2;
    }
    
    ul.tabs > li.current > a {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: none;
    color: #fff;
    font-size: 15px;
    }
    
    ul.tabs > li:hover > a {
    background: none;
    font-weight: 500;
    }
}
    
#title_bar {
    
    background-color: #282c34;
    background-image: none;
    text-shadow: none;
    border-top: 1px solid #000000;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-bottom: 15px;
    h2 {
        color: #fff;
        font-family: 'Lato', sans-serif;
    }
    
    .action_items span.action_item > a, #title_bar .action_items span.action_item > .dropdown_menu > a {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    line-height: 12px;
    background-color: #09afdf;
    background-image: none;
    box-shadow: none;
    border: 1px solid #0a8fcd;
    text-shadow: none;
    color: #000;
    border-radius: 200px;
    text-decoration: none;
    padding: 12px 17px 10px;
    margin: 0px;
    }
     .action_items span.action_item > a:not(.disabled):hover, #title_bar .action_items span.action_item > .dropdown_menu > a:not(.disabled):hover {
        background-color: #0a8fcd;
        border: 1px solid #036db0;
        background-image: none;
        color: #fff;
    }
}

table.index_table th {
    background-color: rgb(239, 239, 239);
    background-image: none;
    text-shadow: none;
    border-top-color: none;
    border-bottom-color: none;
    border-left-color:none;
    box-shadow: none;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: rgb(94, 100, 105);
    border-width: 1px 1px 1px;
    border-style: solid none solid solid;
    border-image: initial;
    padding: 5px 12px 3px;
    border-right: none;
}

.attributes_table table th, .attributes_table table td {
    vertical-align: top;
    padding: 20px 12px 18px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

table.index_table td {
    vertical-align: top;
    padding: 20px 12px 18px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.section > h3, .panel > h3 {
    background-color: rgb(239, 239, 239);
    background-image: none;
    text-shadow: none;
    border-top-color: rgb(230, 230, 230);
    border-right-color: rgb(212, 212, 212);
    border-bottom-color: rgb(205, 205, 205);
    border-left-color: rgb(212, 212, 212);
    box-shadow: none;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: rgb(94, 100, 105);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 20px 12px 18px;
}

form fieldset legend span {
    display: block;
    background-color: rgb(239, 239, 239);
    background-image: none;
    text-shadow: none;
    border-top-color: rgb(230, 230, 230);
    border-right-color: rgb(212, 212, 212);
    border-bottom-color: rgb(205, 205, 205);
    border-left-color: rgb(212, 212, 212);
    box-shadow: none;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: rgb(94, 100, 105);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 20px 12px 18px;
}

form input[type="submit"], form input[type="button"], form button {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    background-color: #09afdf;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    border: 1px solid #0a8fcd;
    color: #000;
    cursor: pointer;
    border-radius: 200px;
    padding: 7px 16px 6px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
}

form input[type="submit"], form input[type="button"], form button {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    background-color: #09afdf;
    border: 1px solid #036db0;
    text-shadow: none;
    box-shadow: none;
    color: #000;
    cursor: pointer;
    border-radius: 200px;
    padding: 7px 16px 6px;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
}

form.filter_form a.clear_filters_btn {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    border: 1px solid #036db0;
    text-shadow: none;
    color: #036db0;
    border-radius: 200px;
    padding: 7px 16px 6px;
    text-decoration: none;
    border-image: none;
}


a.button, a:link.button, a:visited.button, input[type=submit], input[type=button], button {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #000000;
    background-image: none;
    text-shadow: #000 0 1px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    border: solid 1px #484e53;
    border-color: #484e53;
    border-top-color: #616a71;
    border-right-color: #484e53;
    border-bottom-color: #363b3f;
    border-left-color: #484e53;
    color: #efefef;
}
