<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
       <small>CGI MEDIA LIBRARY | &copy; <a href="http://cgicompany.com/" target="_blank">CGI COMMUNICATIONS</a> | All Rights Reserved</small>
      </div>
    </div>
  </div>
</footer>